{{define "subject"}}Reset your Cinemesis password{{end}}
{{define "plainBody"}}
Hi,
This is a request to reset your Cinemesis password. If you did not make this request please ignore this email...
{"password": "your new password", "token": "{{.passwordResetToken}}"}
Please note that this is a one-time use token and it will expire in 180 minutes. 
Thanks,
The Cinemesis Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi,</p>
    <p>This is a request to reset your Cinemesis password. If you did not make this request please ignore this email...</p>
    <pre><code>
    {"password": "your new password", "token": "{{.passwordResetToken}}"}
    </code></pre>  
    <p>Please note that this is a one-time use token and it will expire in 180 minutes.
    <p>Thanks,</p>
    <p>The Cinemesis Team</p>
  </body>
</html>
{{end}}